{% load static %}
body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}


  
.Section_top{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 20s infinite ease;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;

}
.content h1{
    color: rgb(0, 0, 0);
    font-size: 60px;
    letter-spacing: 15px;
}
.content h1 span{
    color: rgb(248, 240, 240);
}


.button{
    font-size: medium;
}

.button a:hover{
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-size: larger;
}


.border-button {
    text-decoration: none;
    display: inline-block;
    padding: 20px 30px;
    margin: 10px 20px;
    position: relative;
    color: rgb(0, 0, 0);
    border: 1px solid rgba(255, 255, 255, .4);
    background: none;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .border-button:before, .border-button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
  }
  .border-button:before {
    bottom: 0;
    left: 0;
    border-left: 1px solid white;
    border-top: 1px solid white;
    transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
  }
  .border-button:after {
    top: 0;
    right: 0;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
  }
  .border-button:hover:before,
  .border-button:hover:after {
    height: 100%;
    width: 100%;
    opacity: 1;
  }
  .border-button:hover:before {
    transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
  }
  .border-button:hover:after {
    transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
  }
  .border-button:hover {
    background: rgba(255, 255, 255, .2);
  }
  
    /* Стили таблицы (IKSWEB) */
    table.iksweb{text-decoration: none;border-collapse:collapse;width:auto;text-align:center;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
    table.iksweb th{font-weight:normal;font-size:14px; color:#000000;background-color:#354251;}
    table.iksweb td{font-size:13px;color:#040404;}
    table.iksweb td,table.iksweb th{white-space:pre-wrap;padding:10px 5px;line-height:13px;vertical-align: middle;border: 1px solid #354251;} table.iksweb tr:hover{background-color:#797c80}
    table.iksweb tr:hover td{color:#040404;cursor:default;}
    table.iskweb td:target {background: salmon;}
    table.iskweb td:target {color: salmon;}
    table.iskweb td:target {text-decoration: underline;} 
  
   .text_Email{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   }

   



  