<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/MainPage.css' %}"/>
    <title>Rating Uni Of KR</title>
</head>
<body>
   <div class="Section_top">
       <div class="content">
           <h1>Rating <span>Uni</span></h1>
           <div class="button">

                <a href="Main" class="border-button">Main</a>
                <a href="About_us.html" class="border-button">About</a>
                <a href="Contacts/Contacts.html" class="border-button">Conctacts</a>

            </div>
       </div>
   </div>

</body>
</html>